@import 'variables.scss';

html, body {
  min-height: 100%;
  margin: 0;
  color: $color-dark;
}

body {
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $color1;
  transition: $transition-base;
}

a:hover {
  color: hsl(202, 100%, 36%);
}

a:active {
  color: hsl(202, 60%, 70%);
}

li {
  list-style: none; 
}

button, input[type='button'], input[type='submit'] {
  box-shadow: $box-shadow-base;
}

button {
  color: $color-light;
  background: linear-gradient(to right, $color1, hsl(202, 100%, 76%));
  border-style: none;
  border-radius: $border-radius-base;
  margin: $margin-base;
  padding: $padding-base;
  transition: $transition-base;
}

button:hover, input[type='button']:hover, input[type='submit']:hover {
  cursor: pointer;
  transform: scale(0.92);
  box-shadow: none;
}

button:active {
  background: linear-gradient(to right, $color2, hsl(35, 100%, 76%));
}

input[type='button'] {
  border-style: none;
  margin: $margin-base;
  padding: $padding-base;
  transition: $transition-base;
}

input[type='submit'] {
  @extend input, [type='button'];
  background: hsl(202, 100%, 56%);
  border-radius: $border-radius-base;
}