@import 'variables.scss';

html, body {
  min-height: 100%;
  margin: 0;
  color: $color-dark;
  overflow-x: hidden;
}

body {
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: $color1;
  transition: $transition-base;
}

a:hover {
  color: hsl(202, 100%, 36%);
}

a:active {
  color: hsl(202, 60%, 70%);
}

ul {
  padding: 0;
}

li {
  list-style: none; 
    overflow: hidden;
}

button {
  border-style: none;
  margin: $margin-base;
  border-radius: $border-radius-base;
  padding: $padding-base;
  transition: $transition-base;
}

button:hover, input[type='button']:hover, input[type='submit']:hover {
  cursor: pointer;
}

input[type='button'] {
  @extend button;
}

input[type='submit'] {
  @extend input, [type='button'];
}

input[type='text'] {
  color: $color-dark;
  font-weight: 300;
  border: none;
  border-bottom: 1px dashed $color-dark;
}

input[type='text']::placeholder, input[type='email']::placeholder, input[type='password']::placeholder {
  color: $color1;
}

input[type='password'] {
  @extend input, [type='text'];
}

input[type='email'] {
  @extend input, [type='text'];
}

nav {
  box-shadow: 0 1px 7px -3px $color-dark;
}

