@import 'variables.scss';

html, body {
  min-height: 100%;
  margin: 0;
  color: $color-dark;
}

body {
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $color1;
  transition: $transition-base;
}

a:hover {
  color: hsl(202, 100%, 36%);
}

a:active {
  color: hsl(202, 60%, 70%);
}

li {
  list-style: none; 
}

button {
  color: $color-dark;
  background: linear-gradient(to right, hsla(202, 100%, 76%, 0.4), hsla(202, 100%, 56%, 0.1));
  box-shadow: $box-shadow-base;
  border-style: none;
  margin: $margin-base;
  border-radius: $border-radius-base;
  padding: $padding-base;
  transition: $transition-base;
}

button:hover, input[type='button']:hover, input[type='submit']:hover {
  cursor: pointer;
  transform: scale(0.92);
  box-shadow: none;
}

input[type='button'] {
  @extend button;
}

input[type='submit'] {
  @extend button;
}

input[type='text'] {
  color: $color-dark;
  font-weight: 300;
  border: none;
  border-bottom: 1px dashed $color-dark;
}

input[type='text']::placeholder, input[type='email']::placeholder, input[type='password']::placeholder {
  color: $color1;
}

input[type='password'] {
  @extend input, [type='text'];
}

input[type='email'] {
  @extend input, [type='text'];
}

.aggressive-btn { 
  color: $color-light;
  background: linear-gradient(to right, $color1, hsl(202, 100%, 76%));
}

.aggressive-btn:active {
  background: linear-gradient(to right, $color2, hsl(35, 100%, 76%));
}

.danger-btn {
  color: $color-light;
  background: linear-gradient(to right, $color3, hsl(5, 100%, 76%));
}
