@import 'variables';

.button-base {
  box-shadow: $box-shadow-base;
  font-size: 40px;
  padding: 14px 20px;
}

.aggressive-btn { 
  @extend .button-base;
  color: $color-light;
  background: linear-gradient(to right, $color1, hsl(202, 100%, 76%));
}

.aggressive-btn:active {
  background: linear-gradient(to right, $color2, hsl(35, 100%, 76%));
}

.danger-btn {
  @extend .button-base;
  color: $color-light;
  background: linear-gradient(to right, $color3, hsl(5, 100%, 76%));
}

.neutral-btn {
  color: $color1-fade;
  background: transparent; 
}

.neutral-btn:hover {
  background: $color2-fade;
}

.add-neutral-btn {
  font-size: $input-font-size;
  font-weight: 300;
  padding: 10px;
  margin: 7px auto;
  color: $color-dark;
  background: hsla(202, 100%, 76%, .42);
}

.add-neutral-btn:hover {
  color: $color2-fade;
}

.tab {
  background: transparent;
  color: hsl(202, 100%, 36%);
  font-size: $input-font-size;
  padding: $padding-base;
}

.tab-active {
  background: $color1;
  color: hsl(202, 100%, 30%);
}

.aggressive-btn:hover, .danger-btn:hover {
  transform: scale(0.92);
  box-shadow: none;
}

.stripes {
  background: linear-gradient(45deg, hsl(202, 100%, 56%) 64%, hsl(35, 100%, 56%) 50%);
  color: $color-light;
}

.pool-card {
  background: transparent;
  box-shadow: 1px 3px 10px -3px hsl(35, 40%, 46%);
  margin: 35px 20px;
  padding: 10px 55px;
  font-size: 43px;
  text-align: center;
  display: flex;

  a {
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}

.pool-card a:hover {
  cursor: pointer;
  color: $color2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  
  h2 {
    font-size: 8vw;
  }

  h3 {
    font-size: 6vw;
  }
}

.wrap-space-around {
  justify-content: space-around;
}

.wrap-flex-start {
  justify-content: flex-start;
}

.form-base {
  box-shadow: 5px 5px 82px -28px $color-dark;
  padding: $padding-form;
}

.options-list {
  @extend .form-base;
  margin-right: 4%;
  margin-left: 4%;
  font-size: 5.5vw;

  li {
    text-align: right;
  }

  button {
    font-size: inherit;
    margin-left: $margin-large;
  }
}

.pool-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: $cloud-width;
  margin-top: 15%;
  margin-bottom: 10%;
  padding: $padding-form;
}

.pool-shadow {
  box-shadow: 5px 5px 82px -28px $color-dark;
}


