@media (min-width: 440px) {
  .wrapper {
    h2 {
      font-size: 35px;
      width: auto;
      padding-right: 20%;
    }

    h3 {
      font-size: 25px;
    }
  }
}

@media all and (min-width: 525px) {
  .pool-card {
    margin: 30px 20px;
    padding: 10px 55px;
    font-size: 3vw;
  }

  .form-base {
    padding: 4% 10%;
  }
}

@media (min-width: 650px) {
  .pool-card {
    margin: 30px 20px;
    padding: 10px 100px;
    font-size: 2vw;
  }
}