@import 'variables';

.aggressive-btn { 
  color: $color-light;
  background: linear-gradient(to right, $color1, hsl(202, 100%, 76%));
  box-shadow: $box-shadow-base;
  font-size: 33px;
  padding: 14px 20px;
}

.aggressive-btn:active {
  background: linear-gradient(to right, $color2, hsl(35, 100%, 76%));
}

.danger-btn {
  color: $color-light;
  background: linear-gradient(to right, $color3, hsl(5, 100%, 76%));
  box-shadow: $box-shadow-base;
}

.neutral-btn {
  color: hsl(202, 50%, 56%);
  background: transparent;  
}

.neutral-btn:hover {
  background: hsl(35, 100%, 86%);
}

.tab {
  background: transparent;
  color: hsl(202, 100%, 36%);
}

.tab-active {
  background: $color1;
  color: hsl(202, 100%, 30%);
}

.aggressive-btn:hover, .danger-btn:hover {
  transform: scale(0.92);
  box-shadow: none;
}

.stripes {
  background: linear-gradient(45deg, hsl(202, 100%, 56%) 64%, hsl(35, 100%, 56%) 50%);
  color: $color-light;
}

.pool-card {
  background: transparent;
  box-shadow: 1px 3px 10px -3px hsl(35, 40%, 46%);
  margin: 35px 20px;
  padding: 10px 55px;
  font-size: 43px;
  text-align: center;
  display: flex;

  a {
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}

.pool-card a:hover {
  cursor: pointer;
  color: $color2;
}

.wrapper {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 8vw;
  }
}

.wrap-space-around {
  justify-content: space-around;
}

.wrap-flex-start {
  justify-content: flex-start;
}