@media (min-width: 620px) {
  #sign-out-btn, header a {
    font-size: 20px;
  }

  header a {
    margin: auto 2vw;
  }

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}