@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$color1: hsl(202, 100%, 56%);
$color1-fade: hsl(202, 50%, 56%);
$color1-fade-transparent: hsla(202, 50%, 56%, .5);
$color2: hsl(35, 100%, 56%);
$color2-fade: hsl(35, 100%, 86%);
$color3: hsl(5, 100%, 56%);
$color3-fade: hsl(5, 50%, 56%);
$color-dark: hsl(202, 10%, 36%);
$color-light: hsl(202, 90%, 98%);
$color-light-pale: hsl(202, 90%, 78%);
$color-light-pale-transparent: hsla(202, 90%, 78%, .5);

$transition-duration-base: 200ms;
$transition-base: all $transition-duration-base ease-out;

$cloud-width: 82%;

$margin-base: 2px;
$margin-large: 30px;
$padding-base: 5.7px;
$padding-form: 20px;
$border-radius-base: 4px;

$box-shadow-base: 1px 1px 7px -1px $color-dark;

$font-family-base: 'Open Sans Condensed', sans-serif;

// $form-font-size: 55px;
// $input-font-size: 43px;

$form-font-size: 17px;
$input-font-size: 14px;