@import 'variables';

footer {
  background: hsl(202, 100%, 36%);
  padding: $padding-base; 
  display: flex;
  flex-direction: column;

  p {
    color: $color-light;
    text-align: justify;
    font-size: 16px;
    margin: 20px 4px 4px;
    padding: $padding-base;
  }

  span {
    @extend p;
  }

  a {
    color: $color-light;
    text-shadow: 0px 0px 0 $color-dark;
    font-size: 24px;
    margin: 20px 10px;
    padding: $padding-base;
  }

  address p {
    text-align: center;
  }

  section {
    margin: 70px 10px 10px;
  }
  
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: hsla(5, 100%, 86%, 0.4);
}