@import 'variables';

footer {
  background: hsl(202, 100%, 36%);
  padding: $padding-base; 
  display: flex;
  flex-direction: column;

  p {
    color: $color-light-pale;
    text-align: justify;
    font-size: 16px;
    margin: 20px 4px 4px;
    padding: $padding-base;
  }

  span {
    @extend p;
  }

  a {
    color: $color-light;
    text-shadow: 0px 0px 0 $color-dark;
    // font-size: 24px;
    font-size: 14px;
    margin: 20px 10px;
    margin: 20px 7px;
    padding: $padding-base;
  }

  a:hover {
    color: $color2
  }

  address p {
    text-align: center;
    font-style: normal;
    color: $color-light;
    box-shadow: 0px 2px 15px -8px $color-light;
  }

  section {
    // margin: 70px 10px 10px;
    margin: 30px 10px 10px;
  }
  
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-evenly;
  box-shadow: 0px 2px 15px -8px $color-light;
  // background: hsla(5, 100%, 86%, 0.4);
}