@import 'variables';

footer {
  background: hsl(202, 100%, 36%);
  padding: $padding-base; 

  p {
    color: $color-light;
  }

  span {
    @extend p;
  }

  a {
    color: $color-light;
    text-shadow: 0px 0px 0 $color-dark;
  }

  ul {
    background: hsla(5, 100%, 86%, 0.4);
  }
}