@import 'variables';

#sign-out-btn {
  background: transparent;
  border-radius: 0;
  color: $color2;
  text-shadow: 1px 1px 1px $color-dark;
  font-size: 30px;
}

#sign-out-btn:hover {
  background: hsla(35, 100%, 56%, .2);
}

header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2px;

  nav {
    margin-left: 10px;
  }

  a {
    color: $color-light;
    font-size: 35px;
    margin: auto 11px;
  }
}

h1 {
  font-size: 40px;
  color: $color1;
  text-shadow: 1px 1px 1px $color-light;
  box-shadow: 1px 3px 15px -5px $color-dark;
  margin-right: 13px;
  padding: 4px 1vw;
}