@import 'variables';

#sign-out-btn {
  background: transparent;
  border-radius: 0;
  color: $color2;
  text-shadow: 1px 1px 1px $color-dark;
  font-size: 3.2vw;
}

#sign-out-btn:hover {
  background: hsla(35, 100%, 56%, .2);
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 2px;

  nav {
    margin-left: 10px;
  }

  a {
    color: $color-light;
    font-size: 3.2vw;;
    margin: auto 1vw;
  }
}

h1 {
  font-size: 4vw;
  color: $color1;
  text-shadow: 1px 1px 1px $color-light;
  box-shadow: 1px 3px 15px -5px $color-dark;
  margin-right: 13px;
  padding: 4px 1vw;
}

@import 'Header-responsive';