@import 'variables';

address {
  font-size: $input-font-size;
}

.options-pool {
  max-height: 40vh;
  overflow: auto;
  margin: 5px;
  padding: 5px;
}

.voting-option label {
  position: relative;
  width: 70%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  text-align: left;
}

.voting-option span { 
  flex-grow: 1;
  padding: $padding-base;
  overflow: auto;
}

.voting-option input[type='radio']:checked ~ span {
 background: $color2;
 border-radius: $border-radius-base; 
}

.voting-option input[type='radio']:hover ~ span {
  background: $color2-fade;
  border-radius: $border-radius-base;
}

.voting-option input {
  opacity: 0;
}

.handle-pool {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-btn-sizes {
  padding: $padding-base;
  font-size: $input-font-size;
}

.twitter {
  background: $color1;
  color: white;
  padding: $padding-base;
  border-radius: 3px;
}

.twitter:hover {
  color: $color-light-pale;
}

.remove-option-btn {
  font-size: 17px;
}

// newly added classes

.pool-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#votingSection {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  flex-grow: 1;
}

.vote-new-option-div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin: auto;
  }

  form {
    text-align: center;
  }

  form input {
    margin: auto 10px;
  }
}