@import 'variables';

address {
  font-size: $input-font-size;
}

// .options-list-no-box-shadow {
//   max-height: 40vh;
//   overflow-y: scroll;
// }

// .voting-option {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
// }

.voting-option label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 17px;
  cursor: pointer;
  text-align: left;
}

.voting-option span {
  flex-grow: 1;
  padding: $padding-base;
}

.voting-option input[type='radio']:checked ~ span {
 background: $color2;
 border-radius: $border-radius-base; 
}

.voting-option input[type='radio']:hover ~ span {
  background: $color2-fade;
  border-radius: $border-radius-base;
}

.voting-option input {
  opacity: 0;
}

.handle-pool {
  display: flex;
  flex-direction: row;
  }

.social-btn-sizes {
  padding: $padding-base;
  font-size: $input-font-size;
}

.twitter {
  background: $color1;
  color: white;
  padding: $padding-base;
  border-radius: 3px;
}

.twitter:hover {
  color: $color-light-pale;
}

.remove-option-btn {
  font-size: 17px;
}