@import 'variables';

address {
  font-size: $input-font-size;
}

.voting-option {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.voting-option label {
  position: relative;
  display: flex;
  flex-grow: 1;
  font-size: 25px;
  cursor: pointer;
  text-align: left;
}

.voting-option span {
  flex-grow: 1;
}

.voting-option input[type='radio']:checked ~ span {
 background: $color2; 
}

.voting-option input[type='radio']:hover ~ span {
  background: $color2-fade;
}

.voting-option input {
  position: absolute;
  opacity: 0;
}

.handle-pool {
  display: flex;
  flex-direction: row;
}

.social-btn-sizes {
  padding: $padding-base;
  font-size: $input-font-size;
}

.twitter {
  background: $color1;
  color: white;
  padding: $padding-base;
  border-radius: 3px;
}